body{
  margin: 0;
  padding: 0;
}


.navbar{
  background:aqua;
  font-family: calbri;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 30px;
}
.navdiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 150px;
}

.logo img{
  width: 80px;
  height: 50px;
  border-radius: 40px;
  margin-top: 20px;

}

.logo a{
  color: rgb(61, 139, 61);
  font-size: 35px;
  font-weight: 600;
  padding-left: 150px;
  margin: 30px;
  size: 70px;
}


li{
  list-style: none;
  display: inline-block;
  margin: 15px;
  background-color: rgb(147, 54, 108);
  border-radius: 3px;
  padding: 5px;
  
}

.media-section {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-left: -40px;
}
form{
  padding-top: 30px;
  padding-left: 200px;
}